@model CineMagic.Facade.Models.Projection.ProjectionRes

@{
    ViewData["Title"] = "DeleteProjection";
}

<h1>Delete Projection</h1>

<h3>Are you sure you want to delete this projection?</h3>
<div>
 
    <hr />
    <dl class="row">
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.MovieName)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.ProjectionTime)
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.ProjectionTime)
        </dd>
        <dt class="col-8 ">

            <div class="col">

                <img class="d-block w-150" src="@Url.Content(Model.PosterURL)" style="width:150px;height:400px" />
            </div>


        </dt>
    </dl>
    
    <form asp-action="DeleteProjection">
        <input type="submit" value="Delete Projection" class="btn btn-danger" /> |
        <a asp-action="HomeAdmin">Back to Administrator Page</a>
    </form>
</div>
