@model CineMagic.Facade.Models.Projection.ProjectionRes

@{
    ViewData["Title"] = "DeleteProjections";
}

<h1>Delete Projection</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProjectionRes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectionTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectionTime)
        </dd>
        <div class="col-6">

            <table class="table">
                <thead class="thead-dark">

                    <tr>
                        <th>
                            <p>Id</p>
                        </th>
                        <th>
                            <p>Number of seats</p>
                        </th>
                        <th>
                            <p>Picture</p>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.AllCinemaHalls)
                    {
                        if (item.Id == Model.CinemaHallId) { }
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.numberOfSeats)
                            </td>
                            <td>
                                <div class="col-sm">

                                    <img class="d-block w-50" src="@Url.Content(item.HallImageUrl)" style="width:100px;height:200px" />
                                </div>
                            </td>

                        </tr>
                    }
                    }
                </tbody>
            </table>
        </div>

    </dl>
    
    <form asp-action="DeleteProjections1">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="HomeAdmin">Back to Administrator Page</a>
    </form>
</div>
