@{
    ViewData["Title"] = "Playing Now";
}

<body style="        background: url(/images/bg1.jpg);
        background-repeat:repeat">
    <div class="container-fluid">
        <div class="row" style="        background-color: burlywood">
            <div class="col-3">
                <img class="img-fluid" src="~/images/logo_providno_2.png" alt="Logo" style="width:250px;height:200px; align-content: end">
            </div>
            <div class="col-8 col">
                <div class="row">
                    <div class="col offset-1">
                        <h1 style="font-family: 'Copperplate Gothic'; font:bolder; font-size:75px;margin-top:10px;">CineMagic</h1>
                    </div>
                </div>
                <div class="row">
                    <br />
                </div>
                <div class="row offset-2">
                    <p class="text-center" style="font-family: 'Book Antiqua'; align-content:center; font-size: x-large"><strong>This is where magic happens.</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <br />
        </div>
        <div class="row">
            <br />
        </div>


        <div class="container-fluid" style="background-color: burlywood">
            <div class="row">
                <br />
            </div>

            <div class="row" style="font-family: 'Copperplate Gothic'; margin-left:15px; text-underline-position:below; background-color:burlywood">
                <h3><strong>MONDAY</strong></h3>
            </div>
            <div class="row">
                <br />
            </div>

            <div id="carouselMonday" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">


                    @if (Model.MondayProjections.Count <= 3)
                    {
                        <div class="carousel-item active">
                            @for (int i = 0; i < Model.MondayProjections.Count; i += 3)
                            {
                                <div class="row">
                                    @if (Model.MondayProjections.Count > i)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.MondayProjections[i].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.MondayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.MondayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.MondayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.MondayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.MondayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.MondayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.MondayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }

                    else if (Model.MondayProjections.Count > 3)
                    {
                        <div class="carousel-item active">
                            <div class="row">
                                @for (int i = 0; ;)
                                {
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.MondayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.MondayProjections[i].PosterURL)" style="width: 100px; height: 300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.MondayProjections[i + 1].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.MondayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.MondayProjections[i + 2].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.MondayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    break;
                                }
                            </div>
                        </div>


                        @for (int i = 3; i < Model.MondayProjections.Count; i += 3)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.MondayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.MondayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    @if (Model.MondayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.MondayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.MondayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.MondayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.MondayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.MondayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                    }
                </div>



                <a class="carousel-control-next" href="#carouselMonday" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row">
                <br />
            </div>
            <div class="row" style="font-family: 'Copperplate Gothic'; margin-left:15px; text-underline-position:below; background-color:burlywood">
                <h3><strong>TUESDAY</strong></h3>
            </div>
            <div class="row">
                <br />
            </div>

            <div id="carouselTuesday" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">


                    @if (Model.TuesdayProjections.Count <= 3)
                    {
                        <div class="carousel-item active">
                            @for (int i = 0; i < Model.TuesdayProjections.Count; i += 3)
                            {
                                <div class="row">
                                    @if (Model.TuesdayProjections.Count > i)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.TuesdayProjections[i].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.TuesdayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.TuesdayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.TuesdayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.TuesdayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.TuesdayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.TuesdayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.TuesdayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }

                    else if (Model.TuesdayProjections.Count > 3)
                    {
                        <div class="carousel-item active">
                            <div class="row">
                                @for (int i = 0; ;)
                                {
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.TuesdayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.TuesdayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.TuesdayProjections[i + 1].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.TuesdayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.TuesdayProjections[i + 2].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.TuesdayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    break;
                                }
                            </div>
                        </div>


                        @for (int i = 3; i < Model.TuesdayProjections.Count; i += 3)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.TuesdayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.TuesdayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    @if (Model.TuesdayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.TuesdayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.TuesdayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.TuesdayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.TuesdayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.TuesdayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                    }
                </div>



                <a class="carousel-control-next" href="#carouselTuesday" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


            <div class="row">
                <br />
            </div>
            <div class="row" style="font-family: 'Copperplate Gothic'; margin-left:15px; text-underline-position:below; background-color:burlywood">
                <h3><strong>WEDNESDAY</strong></h3>
            </div>
            <div class="row">
                <br />
            </div>

            <div id="carouselWednesday" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">


                    @if (Model.WednesdayProjections.Count <= 3)
                    {
                        <div class="carousel-item active">
                            @for (int i = 0; i < Model.WednesdayProjections.Count; i += 3)
                            {
                                <div class="row">
                                    @if (Model.WednesdayProjections.Count > i)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.WednesdayProjections[i].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.WednesdayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.WednesdayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.WednesdayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.WednesdayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.WednesdayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.WednesdayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.WednesdayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }

                    else if (Model.WednesdayProjections.Count > 3)
                    {
                        <div class="carousel-item active">
                            <div class="row">
                                @for (int i = 0; ;)
                                {
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.WednesdayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.WednesdayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.WednesdayProjections[i + 1].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.WednesdayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.WednesdayProjections[i + 2].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.WednesdayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    break;
                                }
                            </div>
                        </div>


                        @for (int i = 3; i < Model.WednesdayProjections.Count; i += 3)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.WednesdayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.WednesdayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    @if (Model.WednesdayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.WednesdayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.WednesdayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.WednesdayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.WednesdayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.WednesdayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                    }
                </div>



                <a class="carousel-control-next" href="#carouselWednesday" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


            <div class="row">
                <br />
            </div>
            <div class="row" style="font-family: 'Copperplate Gothic'; margin-left:15px; text-underline-position:below; background-color:burlywood">
                <h3><strong>THURSDAY</strong></h3>
            </div>
            <div class="row">
                <br />
            </div>

            <div id="carouselThursday" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">


                    @if (Model.ThursdayProjections.Count <= 3)
                    {
                        <div class="carousel-item active">
                            @for (int i = 0; i < Model.ThursdayProjections.Count; i += 3)
                            {
                                <div class="row">
                                    @if (Model.ThursdayProjections.Count > i)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.ThursdayProjections[i].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.ThursdayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.ThursdayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.ThursdayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.ThursdayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.ThursdayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.ThursdayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.ThursdayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }

                    else if (Model.ThursdayProjections.Count > 3)
                    {
                        <div class="carousel-item active">
                            <div class="row">
                                @for (int i = 0; ;)
                                {
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.ThursdayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.ThursdayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.ThursdayProjections[i + 1].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.ThursdayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.ThursdayProjections[i + 2].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.ThursdayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    break;
                                }
                            </div>
                        </div>


                        @for (int i = 3; i < Model.ThursdayProjections.Count; i += 3)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.ThursdayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.ThursdayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    @if (Model.ThursdayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.ThursdayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.ThursdayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.ThursdayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.ThursdayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.ThursdayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                    }
                </div>



                <a class="carousel-control-next" href="#carouselThursday" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


            <div class="row">
                <br />
            </div>
            <div class="row" style="font-family: 'Copperplate Gothic'; margin-left:15px; text-underline-position:below; background-color:burlywood">
                <h3><strong>FRIDAY</strong></h3>
            </div>
            <div class="row">
                <br />
            </div>

            <div id="carouselFriday" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">


                    @if (Model.FridayProjections.Count <= 3)
                    {
                        <div class="carousel-item active">
                            @for (int i = 0; i < Model.FridayProjections.Count; i += 3)
                            {
                                <div class="row">
                                    @if (Model.FridayProjections.Count > i)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.FridayProjections[i].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.FridayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.FridayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.FridayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.FridayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.FridayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.FridayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.FridayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }

                    else if (Model.FridayProjections.Count > 3)
                    {
                        <div class="carousel-item active">
                            <div class="row">
                                @for (int i = 0; ;)
                                {
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.FridayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.FridayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.FridayProjections[i + 1].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.FridayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.FridayProjections[i + 2].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.FridayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    break;
                                }
                            </div>
                        </div>


                        @for (int i = 3; i < Model.FridayProjections.Count; i += 3)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.FridayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.FridayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    @if (Model.FridayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.FridayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.FridayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.FridayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.FridayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.FridayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                    }
                </div>



                <a class="carousel-control-next" href="#carouselFriday" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


            <div class="row">
                <br />
            </div>
            <div class="row" style="font-family: 'Copperplate Gothic'; margin-left:15px; text-underline-position:below; background-color:burlywood">
                <h3><strong>SATURDAY</strong></h3>
            </div>
            <div class="row">
                <br />
            </div>

            <div id="carouselSaturday" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">


                    @if (Model.SaturdayProjections.Count <= 3)
                    {
                        <div class="carousel-item active">
                            @for (int i = 0; i < Model.SaturdayProjections.Count; i += 3)
                            {
                                <div class="row">
                                    @if (Model.SaturdayProjections.Count > i)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.SaturdayProjections[i].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.SaturdayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.SaturdayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.SaturdayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.SaturdayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.SaturdayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.SaturdayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.SaturdayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }

                    else if (Model.SaturdayProjections.Count > 3)
                    {
                        <div class="carousel-item active">
                            <div class="row">
                                @for (int i = 0; ;)
                                {
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.SaturdayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.SaturdayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.SaturdayProjections[i + 1].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.SaturdayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.SaturdayProjections[i + 2].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.SaturdayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    break;
                                }
                            </div>
                        </div>


                        @for (int i = 3; i < Model.SaturdayProjections.Count; i += 3)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.SaturdayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.SaturdayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    @if (Model.SaturdayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.SaturdayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.SaturdayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.SaturdayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.SaturdayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.SaturdayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                    }
                </div>



                <a class="carousel-control-next" href="#carouselSaturday" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


            <div class="row">
                <br />
            </div>
            <div class="row" style="font-family: 'Copperplate Gothic'; margin-left:15px; text-underline-position:below; background-color:burlywood">
                <h3><strong>SUNDAY</strong></h3>
            </div>
            <div class="row">
                <br />
            </div>

            <div id="carouselSunday" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">


                    @if (Model.SundayProjections.Count <= 3)
                    {
                        <div class="carousel-item active">
                            @for (int i = 0; i < Model.SundayProjections.Count; i += 3)
                            {
                                <div class="row">
                                    @if (Model.SundayProjections.Count > i)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.SundayProjections[i].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.SundayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.SundayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.SundayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.SundayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.SundayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.SundayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.SundayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }

                    else if (Model.SundayProjections.Count > 3)
                    {
                        <div class="carousel-item active">
                            <div class="row">
                                @for (int i = 0; ;)
                                {
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.SundayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.SundayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.SundayProjections[i + 1].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.SundayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.SundayProjections[i + 2].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.SundayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    break;
                                }
                            </div>
                        </div>


                        @for (int i = 3; i < Model.SundayProjections.Count; i += 3)
                        {
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-sm">
                                        <a href="/Movies/Details/@Model.SundayProjections[i].MovieId">
                                            <img class="d-block w-100" src="@Url.Content(Model.SundayProjections[i].PosterURL)" style="width:100px;height:300px" />
                                        </a>
                                    </div>
                                    @if (Model.SundayProjections.Count > i + 1)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.SundayProjections[i + 1].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.SundayProjections[i + 1].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                    @if (Model.SundayProjections.Count > i + 2)
                                    {
                                        <div class="col-sm">
                                            <a href="/Movies/Details/@Model.SundayProjections[i + 2].MovieId">
                                                <img class="d-block w-100" src="@Url.Content(Model.SundayProjections[i + 2].PosterURL)" style="width:100px;height:300px" />
                                            </a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm">
                                            <img src="" style="opacity:0" />
                                        </div>
                                    }
                                </div>
                            </div>
                        }

                    }
                </div>



                <a class="carousel-control-next" href="#carouselSunday" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div class="row">
                <br />
            </div>
            <div class="row">
                <br />
            </div>

        </div>
    </div>
</body>