
<html>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h4>CineMagic TICKET</h4>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2 text-muted"><b>Movie: </b> @Model.Projection.MovieName</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Date: </b> @Model.Projection.ProjectionTime.ToString("dd/MM/yyyy"), @Model.Projection.ProjectionTime.DayOfWeek</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Time: </b> @Model.Projection.ProjectionTime.ToString("HH:mm")</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Cinema hall: </b> @Model.Projection.CinemaHall.Id</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Seat: </b> @Model.Seat.Name</h6>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Ticket price: </b>7KM</h6>
                    <p class="card-text">
                        <i>Thank you for using this Web Site for making reservation</i>
                    </p>

                </div>
            </div>
        </div>

    </div>

    <!-- minlength="7" maxlength="7" oninvalid="this.setCustomValidity('Card number should contains 7 numbers') "  oninput="this.setCustomValidity('')" -->
    <div class="row">
        <div class="col-8 offset-2">
            <form asp-controller="Reservations" asp-action="CheckCardNumber" method="post">
                <input type="hidden" id="ProjectionId" name="ProjectionId" value='@Model.Projection.Id' />
                <input type="hidden" id="AvailableSeatId" name="AvailableSeatId" value='@Model.Seat.Id' />


                <b> <i>Enter your cinema card number to pay ticket: </i></b>
                <br />
                <input type="text" class="form-control" id="CardNumber" name="CardNumber" pattern="[0-9]{7}" placeholder="cinema card number" required maxlength="7">
                <br />
                <br />
                <div id="error"> </div>
                <button type="submit" class="btn btn-primary" id="btn">Confirm</button>
            </form>
        </div>
    </div>

    <div>
        <br />
    </div>

    <div class="row">
        <div class="col-8 offset-2">
            <a href="/Movies/Details/@Model.Projection.MovieId">
                <button type="button" class="btn btn-danger">Cancel</button>
            </a>
        </div>

    </div>

</body>
</html>